<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Responsive Registration Form</h2>
    </div>
    <div class="row clearfix">
      <div class="">
        <form (ngSubmit)="register()" [formGroup]="registerForm">
          <div class="input_field"> <span><i class="bi bi-envelope"></i></span>
            <input type="email" name="email" placeholder="Email" formControlName="email"/>
            <div [hidden]="emailControl.valid || emailControl.pristine">
              <p *ngIf="emailControl.errors?.required" style="color: red">Email is required</p>
              <p *ngIf="emailControl.errors?.email" style="color: red">Email type not valid</p>
            </div>
          </div>
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <input type="password" name="password" placeholder="Password" formControlName="password"/>
          </div>
          <div class="input_field"> <span><i aria-hidden="true" class="bi bi-lock-fill"></i></span>
            <input type="password" name="password" placeholder="Re-type Password" formControlName="retypePassword"/>
          </div>
          <div class="input_field"> <span><i aria-hidden="true" class="bi bi-lock-fill"></i></span>
            <input type="text" name="age" placeholder="Enter you age" formControlName="age"/>
          </div>
          <div class="input_field"> <span><i aria-hidden="true" class="bi bi-lock-fill"></i></span>
            <input type="text" name="phone" placeholder="Enter you phone number" formControlName="phone"/>
          </div>
          <div class="row clearfix">
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" name="name" placeholder="First Name" formControlName="firstname"/>
              </div>
            </div>
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" name="name" placeholder="Last Name" formControlName="lastname"/>
              </div>
            </div>
          </div>
          <div class="input_field radio_option">
            <input type="radio" name="radiogroup1" id="rd1" formControlName="gender">
            <label for="rd1">Male</label>
            <input type="radio" name="radiogroup1" id="rd2" formControlName="gender">
            <label for="rd2">Female</label>
          </div>
          <div class="input_field select_option">
            <select formControlName="country">
              <option>Select a country</option>
              <option>Vietnam</option>
              <option>Korea</option>
              <option>Japan</option>
            </select>
            <div class="select_arrow"></div>
          </div>
          <div class="input_field checkbox_option">
            <input type="checkbox" id="cb1">
            <label for="cb1">I agree with terms and conditions</label>
          </div>
          <div class="input_field checkbox_option">
            <input type="checkbox" id="cb2">
            <label for="cb2">I want to receive the newsletter</label>
          </div>
          <input class="button" type="submit" value="Register" />
        </form>
      </div>
    </div>
  </div>
</div>
<p class="credit">Developed by <a href="http://www.designtheway.com" target="_blank">Design the way</a></p>
https://use.fontawesome.com/4ecc3dbb0b.js
</body>
</html>
